<ion-header>
  <ion-navbar id="navbar">
    <ion-title>Carrinho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


    <button ion-button icon-left full (click)="teste()">
    <!-- <button ion-button icon-left full (click)="scanBarcode()"> -->
      <ion-icon name="qr-scanner"></ion-icon>
      Adicionar Produto
  </button>


  <!-- <div *ngIf="results">
    <p>{{results.text}}</p>
    <p>{{results.format}}</p>
    <p>{{results.text}}</p>
  </div> -->


  <!-- <ion-grid>

    <ion-list *ngFor="let produtos of lista_produtos">
      <ion-item-sliding>
        <ion-item>
          <ion-thumbnail item-start>
          <img id="produto1" src="assets/imgs/">
          </ion-thumbnail>
          <h2 class="produto_nome">{{produtos.name}}</h2>
          <p>Quantidade • 1</p>
          <h2 class="produto_preço">R$ = {{produtos.price}}</h2>
          <button ion-button clear item-end>Retirar</button>
        </ion-item>
      </ion-item-sliding>
    </ion-list>

  </ion-grid> -->

</ion-content>