page-carrinho {
    .qntd-produto.ion-md-add-circle {
        color: rgb(2, 100, 2);
    }

    .qntd-produto.ion-md-remove-circle {
        color: rgb(194, 3, 3);
    }

    .qntd-produto {
        font-size: 25px;
    }
}
