<ion-header>
  <ion-navbar id="navbar" (click)="saveList()">
    <ion-title>Carrinho</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


    <button ion-button icon-left full (click)="teste()">
    <!-- Apagar a linha de cima e descomentar a linha de baixo quando acabar os testes do scanbarcode() -->
    <!-- <button ion-button icon-left full (click)="scanBarcode()"> -->
      <ion-icon name="qr-scanner"></ion-icon>
      Adicionar Produto
  </button>

  <ion-grid>
    <ion-list *ngIf="!produtos.length">
      <p>Aperte no botão para adicionar algum produto a lista.</p>
    </ion-list>
    <ion-list *ngFor="let produto of produtos">
      <ion-item-sliding>
        <ion-item>
          <ion-thumbnail item-start>
          <img id="produto" src="">
          </ion-thumbnail>
          <div>
            <h2>{{produto.name}}</h2>
            <h2 class="produto_preço">valor: {{produto.price}}</h2>
          </div>

          <button ion-button clear item-end (click)="retirar(produto.id)">Retirar</button>
        </ion-item>
      </ion-item-sliding>
      <ion-item>
          <ion-label stacked>Quantidade: </ion-label>
          <ion-input type="number" min="1" [(ngModel)]="produto.quantidade" (change)="saveList()"></ion-input>
      </ion-item>  
    </ion-list>

  </ion-grid>

</ion-content>