page-historico {
    .toolbar-background {
        background-color: rgb(144, 144, 144);
        height: 75px;
        border-radius: 2px;
}
.content{
    background-color: orange;
    margin-top: -10px;
}
}
