page-cadastro {

    .button{
        margin-top:20px;
        background-color: rgb(144, 144, 144);
        width: 95%;
        font-weight: bold;
        align-content: center;
    
    }
.content{
    background-color: orange;
}
.toolbar-background {
    background-color: rgb(144, 144, 144);
    height: 75px;
    border-radius: 2px;
}
}
